---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Alexander Vey"
	description="Über Alexander Vey: Erfahrungen, Interessen und mehr."
	pubDate={new Date('1987-07-07')}
	heroImage="/blog-placeholder-about.jpg"
>
	<section>
		<p class="mb-4">
			Programmieren bedeutet für mich Ideen und Kreativität zum Leben zu erwecken.
			Dabei ist für mich Technologie das Werkzeug, um Menschen und Gedanken miteinander zu verbinden.
		</p>
		<p class="mb-4">
			People. Product. Technology. <br />
			Unlearn Today. Think Tomorrow. <br />
			Sometimes you have to be a bit too optimistic to make a difference. <br />
			Can we really do anything more than once? <br />
		</p>
	</section>
</Layout>
