---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Alex Vey"
	description="Über Alex Vey"
	pubDate={new Date('1987-07-07')}
	heroImage="/blog-placeholder-about.jpg"
>
	<section>
		<p class="mb-4">
			Hi, ich bin Alex. Software Engineer, Webdeveloper und AI Enthusiast. <br />
			Co-Founder <a href="https://fino.digital">fino.digital</a> mit einem M.Sc. in Computer Science. <br />
		</p>

		<h4 class="title">Philosophie</h4>
		<p class="mb-4">
			Programmieren bedeutet für mich Kreativität zum Leben zu erwecken. <br />
			Technologie ist mein Werkzeug, um Menschen und Gedanken miteinander zu verbinden. <br />
		</p>

		<h4 class="title">Friendly Reminder</h4>
		<p class="mb-4">
			People &rsaquo; Product &rsaquo; Technology. <br />
			Unlearn Today. Think Tomorrow. <br />
			&quot;<em>Sometimes you have to be a bit too optimistic to make a difference.</em>&quot; &mdash; Linus Torvalds<br />
		</p>
	</section>
</Layout>
