---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Alex Vey"
  description="Über Alex Vey"
  pubDate={new Date('1987-07-07')}
  heroImage="/blog-placeholder-about.jpg"
>
  <section>
    <p class="mb-4">
      Hi, ich bin Alex. Software Engineer, Webdeveloper und AI Enthusiast. <br
      />
      Co-Founder <a href="https://fino.digital">fino.digital</a> &mdash; M.Sc. in
      Computer Science &mdash; Fan schlanker <code>if</code>s
    </p>

    <h4 class="title">Philosophie</h4>
    <p class="mb-4">
      Programmieren heißt Kreativität zum Leben zu erwecken. <br />
      Technologie ist ein Werkzeug, um Menschen und ihre Gedanken zu verbinden. <br
      />
      Innovation ist die schönste Form der Gier: die Neugier. <br />
    </p>

    <h4 class="title">Friendly Reminder</h4>
    <p class="mb-4">
      People &rsaquo; Product &rsaquo; Technology. <br />
      Unlearn Today. Think Tomorrow. <br />
      <em
        >&quot;Sometimes you have to be a bit too optimistic to make a
        difference.&quot;</em
      > &mdash; Linus Torvalds
    </p>
  </section>
</Layout>
