---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="Alex Vey"
  description="Über Alex Vey"
  pubDate={new Date('1987-07-07')}
  heroImage="/blog-placeholder-about.jpg"
>
  <section>
    <p class="mb-4">
      Hi, ich bin Alex, Software Engineer und schreibe über Agentic Development,
      Tooling und die sich verändernde Rolle von Entwicklern. <br />
      Co-Founder und VPE <a href="https://fino.digital" target="_blank"
        >fino.digital</a
      ><br />
      M.Sc. in Computer Science <br />
      Großer Fan schlanker <code>if</code>s
    </p>

    <h4 class="title">Meine Philosophie</h4>
    <p class="mb-4">
      Software ist die Brücke von Imagination zu Wirklichkeit. <br />
      Technologie ist die Leinwand für menschliche Vorstellungskraft. <br />
      Innovation ist die schönste Form der Gier: die Neugier. <br />
    </p>

    <h4 class="title">Friendly Reminder</h4>
    <p class="mb-4">
      Focus On Improving, Not Proving. <br />
      Unlearn Today. Think Tomorrow. <br />
      People. Life. Technology. <br />
    </p>
  </section>
</Layout>
